
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

h1 {
   font-size: 3.5rem;
   margin-top:0;
}

h3{
    color: #A59678;
    text-align: center;
    font-size: 30px;
    
}
h4 {
    color: #A59678;
    font-size: 36px;

}
/* mobile first approach*/
/* working on navbar*/

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* added for nav-toggle positioning*/
   position: relative;
   


}

header{
    background: #2E323F;
    padding:1.5rem 0;
    text-align: center;


}



.nav{
    width: 100%;
}
.nav-toggle{
    cursor: pointer;
    border:0;
    width:3rem;
    height:3rem;
    padding: 0rem;
    border-radius:50%;
    background:black;
    color:black;
    transition:opacity 250ms ease;
    position:absolute;
    left: 0;


}
.nav-toggle:focus,
.nav-toggle:hover{
    opacity:.75;

}
.hamburger,
.hamburger::before,
.hamburger::after{
    display:block;
    margin:0 auto;
    height: 3px;
    background:white;

}
.hamburger::before,
.hamburger::after{
    content:'';
    width: 100%;
}
.hamburger::before{
    transform: translateY(-6px);
}
.hamburger::after{
    transform:translateY(3px);
}
.nav{
    visibility: hidden;
    height: 0;
    position: absolute;
    font-size: 18px;

}
.nav--visible{
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list{
    margin: 0;
    padding:0;
    list-style: none;

}
.nav__list--primary{
    margin-bottom: 2rem;
}
.nav__item{
    margin-top: .75rem;
}
.nav__link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.nav__link--button{
    padding: .25rem .75rem;
    background: #A59678;
    color: #fff;
    border-radius: 100px;


}
.nav__link:hover,
.nav__link:focus{
    opacity: .65;
}
.logo{
    height: 30px;
}
/* hero section styling*/
.hero{
    background-color:#3B4050 ;
    color: #fff;
    padding: 1.5rem;
    
    
    
}
.hero-text1{
   
    margin-top:2rem;
    
   
   
    
}
.add-color{
    color: #A59678;
}


.hero-text2{
    margin-top:9rem;
    margin-right: 5rem;
    font-size: 24px;
    
}
.btn{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:900;
    background-color: #A59678;
    padding: .55rem 1rem;
    border-radius: 100px;
    
    
}
.btn:hover,
.btn:focus{
    opacity: .65;
}

.content-section{
    background:#bcc4dad3;
    padding: 2rem;
    
    
}

.text-content1{
    padding:1rem;
    width:100%;
    text-align:center;
    font-size:18px;
    
   
}
.text-content2{
    padding:1rem;
    width:100%;
    text-align:center;
    font-size:18px;
   
    
}
.text-content3{
    padding:1rem;
    width:100%;
    text-align:center;
    font-size:18px;
   
}
.aside-container{
    display:block;
    margin:1rem;
   
    
}
.aside-content1{
    background-color:#2E323F;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
    margin:1rem;
    padding:1rem;
}
.aside-content2{
    background-color:#2E323F;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
    margin:1rem;
    padding:1rem;

}
.aside-content3{
    background-color:#2E323F;
    color:#FFFFFF;
    text-align:center;
    font-size:18px;
    margin:1rem;
    padding:1rem;

}
.main-section{
    background-color:#FFFFFF;
   
}
.main-content{
    margin:2rem;
    padding:1rem;
}
.maintext1{
    font-size:21px;
}
.footer{
    background-color:#2E323F;
    color: #A59678;
}
.footer-title{
    font-size:2.5rem;
    color: #FFFFFF;
    text-align:center;
    margin-bottom:3rem;
    padding: 2rem;
}
.footer-content1{
    width:100%;
    padding: 1rem;
    
}

.footer-content2{
    width:100%;
    padding: 1rem;
}
.footer-content3{
    width:100%;
    padding: 1rem; 
}
.footer-content4{
    width:100%;
   padding: 1rem;
}






@media(min-width:800px){
    .nav-toggle{
        display: none;
    }

    .nav{
        visibility: visible;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        position:relative;

    }
    .nav__list{
        display: flex;
        margin:0;
    }

    .nav__item{
        margin: 0 0 0 1.5rem;

    }
    .row{
        display: flex;
        justify-content: space-between;
       
    }
  }
   /* container2 for the main section*/
  .container2{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.row2{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px){
    .row2{
        display: block;
    }
    .aside-container{
        display: flex;
    }
    

}
@media(max-width: 900px){
    .aside-container{
        display: block;
    }
    h1 {
        font-size: 2.5rem;
        margin-top:0;
     }
     .hero{
         padding: 0.5rem;
        
     }

}